<div class="container-fluid">
  
  <div class= "row header bottomheader">
    <div class="col-md-12 text-center">

      <button id="scrapeNY" class= "btn btn-primary btn-lg">Scrape NY-Times</button>
      
    </div>
  </div>
</div>
<div class="container">
  <div class= "row">
    <div class="col-md-12">
      <div id="notes"></div>
      <div id="prevNotes"></div>
      {{#each newsScrape}}
        <div class="well">
          <h3 data-id= "{{this._id}}"><span class="listInfo">{{this.articleNumber}}. {{this.date}}-</span> <span class="listingTitle">{{this.title}}</span></h3>
          
          <a href="{{this.link}}" target="_blank">{{this.link}}</a>
        </div>
      {{/each}}
    </div>
  </div>
</div>

